// SCSS Variables
$primary-color: #d89255;
$secondary-color-1: #3d2f21;
$secondary-color-2: #df8b42;
$secondary-color-3: #6c6660;
$white-color: #ffff;
$bg-color-1: #ebdfcc;
$bg-color-2: #f9f9f9;
$bg-color-3: #edf5f0;
$bg-color-4: #fcfcfc;

$font-family-base: "Vazirmatn", sans-serif;

// Custom theme colors
$custom-theme-colors: (
  "primary-color": $primary-color,
  "secondary-color-1": $secondary-color-1,
  "secondary-color-2": $secondary-color-2,
  "secondary-color-3": $secondary-color-3,
  "white-color": $white-color,
  "bg-color-1": $bg-color-1,
  "bg-color-2": $bg-color-2,
  "bg-color-3": $bg-color-3,
  "bg-color-4": $bg-color-4,
);

// Font Variables
$font-family-base: "Vazirmatn", sans-serif;

$x-small-light-font: normal 200 10px $font-family-base;
$small-bold-font: normal bold 12px $font-family-base;
$small-light-font: normal 200 12px $font-family-base;
$small-font: normal normal 12px $font-family-base;
$main-font: normal normal 16px $font-family-base;
$bold-font: normal bold 16px $font-family-base;
$big-font: normal normal 19px $font-family-base;
$big-bold-font: normal bold 19px $font-family-base;
$big-bold-font-x2: normal bold 24px $font-family-base;
$section-title-font: normal bold 32px $font-family-base;
$hero-font: normal bold 50px $font-family-base;

$space-unit: 2rem;
$spacer: $space-unit;

// Spacing Variables
$space-xxs: $spacer * 0.25;
$space-xs: $spacer * 0.5;
$space-sm: $spacer * 0.75;
$space-md: $spacer;
$space-lg: $spacer * 2;
$space-xl: $spacer * 3;
$space-xxl: $spacer * 5;

// Spacers map using predefined variables
$spacers: (
  0: 0,
  1: $space-xxs,
  2: $space-xs,
  3: $space-sm,
  4: $space-md,
  5: $space-lg,
  6: $space-xl,
  7: $space-xxl,
);

// Accordion overrides
$accordion-bg: $bg-color-2;
$accordion-padding-y: $space-md;
$accordion-padding-x: $space-md;
$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 3rem $space-xs;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-border-width: 0px;
$accordion-border-color: none;
$accordion-border-radius: 10px;
$accordion-button-icon: none;
$accordion-button-active-icon: none;

// Navbar overrides
$navbar-light-hover-color: $primary-color;

// Nav pills overrides
$nav-pills-link-active-color: $secondary-color-1;
$nav-pills-link-active-bg: $white-color;
$nav-link-color: $secondary-color-1;
$nav-pills-border-radius: 6px;
$nav-link-hover-color: $primary-color;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 3rem;

// Character spacing variables
$max-p-ch-sm: 26ch;
$max-p-ch-md: 45ch;
$max-p-ch-xl: 52ch;

// CSS Variables
:root {
  // Color Variables
  --primary-color: #{$primary-color};
  --secondary-color-1: #{$secondary-color-1};
  --secondary-color-2: #{$secondary-color-2};
  --secondary-color-3: #{$secondary-color-3};
  --white-color: #{$white-color};
  --bg-color-1: #{$bg-color-1};
  --bg-color-2: #{$bg-color-2};
  --bg-color-3: #{$bg-color-3};
  --bg-color-4: #{$bg-color-4};

  // Font Variables
  --font-family-base: #{$font-family-base};

  --x-small-light-font: normal 200 10px var(--font-family-base);
  --small-bold-font: normal bold 12px var(--font-family-base);
  --small-light-font: normal 200 12px var(--font-family-base);
  --small-font: normal normal 12px var(--font-family-base);
  --main-font: normal normal 16px var(--font-family-base);
  --bold-font: normal bold 16px var(--font-family-base);
  --big-font: normal normal 19px var(--font-family-base);
  --big-bold-font: normal bold 19px var(--font-family-base);
  --big-bold-font-x2: normal bold 24px var(--font-family-base);
  --section-title-font: normal bold 32px var(--font-family-base);
  --hero-font: normal bold 50px var(--font-family-base);

  --spacer: #{$spacer};

  /* Spacing scale */
  --space-xxs: calc(0.25 * var(--spacer));
  --space-xs: calc(0.5 * var(--spacer));
  --space-sm: calc(0.75 * var(--spacer));
  --space-md: calc(1 * var(--spacer));
  --space-lg: calc(2 * var(--spacer));
  --space-xl: calc(3 * var(--spacer));
  --space-xxl: calc(5 * var(--spacer));

  // Character spacing variables
  --max-p-ch-sm: #{$max-p-ch-sm};
  --max-p-ch-md: #{$max-p-ch-md};
  --max-p-ch-xl: #{$max-p-ch-xl};

  --max-section-width: 1350px;

  // Compound spacing variables
  --section-spacing: var(--space-xl) var(--space-sm);
  --grid-gap: var(--space-xs);
  --flex-gap: var(--space-xs);
}
