// SCSS Variables
$primary-color: #d89255;
$secondary-color-1: #3d2f21;
$secondary-color-2: #df8b42;
$secondary-color-3: #6c6660;
$white-color: #ffff;
$bg-color-1: #ebdfcc;
$bg-color-2: #f9f9f9;
$bg-color-3: #edf5f0;
$bg-color-4: #fcfcfc;

// Custom theme colors
$custom-theme-colors: (
  "primary-color": $primary-color,
  "secondary-color-1": $secondary-color-1,
  "secondary-color-2": $secondary-color-2,
  "secondary-color-3": $secondary-color-3,
  "white-color": $white-color,
  "bg-color-1": $bg-color-1,
  "bg-color-2": $bg-color-2,
  "bg-color-3": $bg-color-3,
  "bg-color-4": $bg-color-4,
);

$spacer: 2rem;

// Spacing Variables
$space-xxs: $spacer * 0.25;
$space-xs: $spacer * 0.5;
$space-sm: $spacer * 0.75;
$space-md: $spacer;
$space-lg: $spacer * 2;
$space-xl: $spacer * 3;
$space-xxl: $spacer * 5;

// Spacers map using predefined variables
$spacers: (
  0: 0,
  1: $space-xxs,
  2: $space-xs,
  3: $space-sm,
  4: $space-md,
  5: $space-lg,
  6: $space-xl,
  7: $space-xxl,
);

// Accordion overrides
$accordion-bg: $bg-color-2;
$accordion-padding-y: $space-md;
$accordion-padding-x: $space-md;
$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 3rem $space-xs;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-border-width: 0px;
$accordion-border-color: none;
$accordion-border-radius: 10px;
$accordion-button-icon: none;
$accordion-button-active-icon: none;

// Navbar overrides
$navbar-light-hover-color: $primary-color;

// Nav pills overrides
$nav-pills-link-active-color: $secondary-color-1;
$nav-pills-link-active-bg: $white-color;
$nav-link-color: $secondary-color-1;
$nav-pills-border-radius: 6px;
$nav-link-hover-color: $primary-color;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 3rem;

// Character spacing variables
$max-p-ch-sm: 26ch;
$max-p-ch-md: 45ch;
$max-p-ch-xl: 52ch;

// CSS Variables
:root {
  // Color Variables
  --primary-color: #{$primary-color};
  --secondary-color-1: #{$secondary-color-1};
  --secondary-color-2: #{$secondary-color-2};
  --secondary-color-3: #{$secondary-color-3};
  --white-color: #{$white-color};
  --bg-color-1: #{$bg-color-1};
  --bg-color-2: #{$bg-color-2};
  --bg-color-3: #{$bg-color-3};
  --bg-color-4: #{$bg-color-4};

  --font-family-base: "Vazirmatn", sans-serif;

  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-xs: clamp(0.9rem, 0.826rem + 0.5159vw, 1.2rem);
  --font-size-sm: clamp(1.2rem, 1.08416rem + 0.3439vw, 1.4rem);
  --font-size-base: clamp(1.6rem, 1.33392rem + 0.7739vw, 1.8rem);
  --font-size-lg: clamp(1.9rem, 1.81312rem + 0.258vw, 2.2rem);
  --font-size-xl: clamp(2.4rem, 2.34208rem + 0.172vw, 2.6rem);
  --font-size-2xl: clamp(3.2rem, 3.08416rem + 0.3439vw, 3.6rem);
  --font-size-3xl: clamp(4.5rem, 2.3rem + 3.4551vw, 6rem);

  --x-small-light-font: normal var(--font-weight-light) var(--font-size-xs)
    var(--font-family-base);
  --small-bold-font: normal var(--font-weight-bold) var(--font-size-sm)
    var(--font-family-base);
  --small-light-font: normal var(--font-weight-light) var(--font-size-sm)
    var(--font-family-base);
  --small-font: normal var(--font-weight-normal) var(--font-size-sm)
    var(--font-family-base);
  --main-font: normal var(--font-weight-normal) var(--font-size-base)
    var(--font-family-base);
  --bold-font: normal var(--font-weight-bold) var(--font-size-base)
    var(--font-family-base);
  --big-font: normal var(--font-weight-normal) var(--font-size-lg)
    var(--font-family-base);
  --big-bold-font: normal var(--font-weight-bold) var(--font-size-lg)
    var(--font-family-base);
  --big-bold-font-x2: normal var(--font-weight-bold) var(--font-size-xl)
    var(--font-family-base);
  --section-title-font: normal var(--font-weight-bold) var(--font-size-2xl)
    var(--font-family-base);
  --hero-font: normal var(--font-weight-bold) var(--font-size-3xl)
    var(--font-family-base);
  --spacer: #{$spacer};

  /* Spacing scale */
  --space-xxs: calc(0.25 * var(--spacer));
  --space-xs: calc(0.5 * var(--spacer));
  --space-sm: calc(0.75 * var(--spacer));
  --space-md: calc(1 * var(--spacer));
  --space-lg: calc(2 * var(--spacer));
  --space-xl: calc(3 * var(--spacer));
  --space-xxl: calc(5 * var(--spacer));

  // Character spacing variables
  --max-p-ch-sm: #{$max-p-ch-sm};
  --max-p-ch-md: #{$max-p-ch-md};
  --max-p-ch-xl: #{$max-p-ch-xl};

  --max-section-width: 1350px;

  // Compound spacing variables
  --section-spacing: var(--space-xl) var(--space-sm);
  --grid-gap: var(--space-xs);
  --flex-gap: var(--space-xs);
}
