main .benefits-section {
  .benefits-section__container {
    .benefits-section__header {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-bottom: $space-x2l;
    }

    .benefits-section__cards {
      display: grid;
      grid-template-columns: minmax(250px, 300px);
      gap: $space-xs;
      justify-content: center;
      justify-items: center;
      grid-auto-rows: minmax(120px, max-content);
    }
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 660px) {
  main .benefits-section {
    .benefits-section__container {
      .benefits-section__cards {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }
    }
  }
}
