.bolesa-integration-section {
  .bolesa-integration-section__container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .bolesa-integration-section__text {
      flex: 50%;
      display: flex;
      flex-flow: column nowrap;

      .bolesa-integration-section__header {
        padding-bottom: $space-x2l;
      }

      .bolesa-integration-section__benefits {
        // flex-grow: 1;
        width: 100%;
        padding: $space-xs;
        border-radius: 15px;
        max-width: 570px;
        background-color: $white-color;
        display: grid;
        grid-template-columns: minmax(250px, 600px);
        justify-content: stretch;
      }
    }
    .bolesa-integration-section__integration-phone-img {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 480px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 660px) {
  .bolesa-integration-section {
    .bolesa-integration-section__container {
      .bolesa-integration-section__text {
        padding: $space-x2l $space-md;
      }
      flex-wrap: nowrap;
      gap: $space-md;
    }
    .bolesa-integration-section__integration-phone-img {
      align-self: center;
    }
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 992px) {
  .bolesa-integration-section {
    .bolesa-integration-section__container {
      flex-wrap: wrap;
      gap: 0;
      .bolesa-integration-section__integration-phone-img {
        align-self: end;
      }
    }
  }
}
