.faqs-section {
  .faqs-section__container {
    padding-bottom: $space-x2l;

    .faqs-section__header {
      padding-bottom: $space-x2l;
    }

    .faqs-section__accordions {
      width: 100%;
      margin: auto;
      display: grid;
      justify-content: stretch;
      justify-items: stretch;
      gap: $space-xs;
    }
  }
}

.accordion-header {
  button {
    font: var(--big-font);
  }
}

.accordion-body {
  font: var(--main-light-font);
}
