main .hero-section {
  background: radial-gradient(circle, $bg-color-1 30%, #ffffff 70%);
  overflow: hidden;

  .hero-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    // position: relative;
    min-height: 100dvh;

    .floating-box {
      position: absolute;
    }

    .hero-section--floating-box-1 {
      top: -80px;
      left: 40px;
      width: 120px;
      z-index: 9990;
    }

    .hero-section--floating-box-2 {
      top: -65px;
      left: -550px;
      width: 120px;
      z-index: 9990;
    }
    .hero-section--floating-box-3 {
      top: -10px;
      right: -110px;
      width: 250px;
      z-index: 1;
    }

    .hero-section__text {
      z-index: 9991;
      padding: $space-x2l 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;

      .hero-section-title {
        span {
          position: relative;
        }
        z-index: 9991;
        font: var(--hero-font);
        color: $secondary-color-1;
        text-align: center;
      }
      .hero-section__sub-title {
        z-index: 9991;
      }
    }

    .hero-section__action-buttons {
      // position: relative;
      // z-index: 9990;
      z-index: 9991;
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      * {
        flex: 1 1 0;
      }
    }

    .hero-section__illustration-img {
      position: relative;
      .hero-section__image {
        position: relative;
        z-index: 9990;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 660px) {
  main .hero-section .hero-section-title {
    margin-top: $space-x4l;
  }
}
