@use "../mixins" as *;
@use "../abstracts/variables" as *;

.stats-section {
  .stats-section__section-container {
    padding: $space-x2l 0;
    .stats-section__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: end;
      gap: $space-xs;
      padding: $space-md 0;
    }
  }
  .stats-section__cards {
    padding: $space-md;
  }
}

.stats-card {
  min-height: 170px;
  transition: all 0.2s;
  &.swiper-slide-active {
    background-color: $secondary-color-1;
    .stats-card__description {
      color: $white-color;
    }
    .stats-card__value {
      color: $secondary-color-2;
    }
  }
}
