.subscription-plans-section {
  .subscription-plans-section__section-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: $space-sm;
  }

  .subscription-plans-seciton__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: $space-x2l;
  }
  .subscription-plans-card__plan-cards-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: $space-md;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .subscription-plans-section {
    .subscription-plans-card__plan-cards-container {
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: $space-sm;
    }
  }
}
