.tabby-payment-section {
  .tabby-payment-section__section-container {
    display: flex;
    flex-flow: row wrap;
    gap: $space-x2l;
    align-items: center;
    justify-content: center;

    .tabby-payment-section__text {
      flex: 1 1 300px;
      .tabby-payment-section__header {
        .tabby-payment-section__description {
          max-width: $max-p-ch-md;
        }
        padding-bottom: $space-x2l;
      }
      .tabby-payment-section__benefits {
        p {
          font: var(--small-light-font);
        }
      }
    }

    .tabby-payment-section__tabby-img {
      padding: $space-x2l $space-md 0 $space-md;
      position: relative;
      background-color: $bg-color-3;
      flex: 1 1 300px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: end;

      .tabby-tag {
        width: 25%;
        position: absolute;
        top: 2%;
        right: 2%;
      }

      .tabby-img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
