.section-title--font {
  font: var(--section-title-font);
}

.section-description--font {
  font: var(--main-font);
}

.text--long-lenght-lines {
  max-width: $max-p-ch-xl;
}

.text--medium-lenght-lines {
  max-width: $max-p-ch-md;
}

.text--short-lenght-lines {
  max-width: $max-p-ch-sm;
}
.section-sub-title--font {
  font: var(--big-bold-font);
}

.text--small-light-font {
  font: var(--small-light-font);
}

.text--big-bold-font {
  font: var(--big-bold-font);
}
