main .hero-section {
  padding: var(--container-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(to bottom, var(--bg-color-1), #ffffff);

  .hero-section__text {
    padding: var(--space-xl) 0;
    .hero-section__title {
      margin-top: var(--space-xxl);
      font: var(--hero-font);
      color: var(--secondary-color-2);
      text-align: center;
    }

    @media (min-width: 992px) {
      .hero-section__title {
        margin-top: calc(2 * var(--space-xxl));
      }
    }
    .hero-section__paragraph {
      font: var(--main-font);
      color: var(--secondary-color-2);
      text-align: center;
      max-width: var(--max-p-ch);
    }
  }

  .hero-section__action-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    * {
      flex: 1 1 0;
    }
  }
}
