.accordion {
  border-radius: 10px;
  .accordion-item {
    border-radius: 10px;
  }
  .accordion-header {
    .accordion-button {
      text-align: right;
      border-radius: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      gap: $space-sm;

      &::after {
        display: none;
      }

      .fa-circle-minus {
        display: none;
      }

      &:not(.collapsed) {
        .fa-circle-plus {
          display: none;
        }
        .fa-circle-minus {
          display: inline-block;
        }
      }
    }
  }
}

.accordion--white {
  .accordion-item {
    .accordion-header {
      button {
        color: $secondary-color-1;
      }
    }
    .accordion-body {
      color: $secondary-color-3;
    }
  }
}
