.benefit-card {
  display: flex;
  flex-flow: row nowrap;
  padding: $space-md;
  border: none;
  border-radius: 15px;
  gap: $space-md;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: start;

  .benefit-card__text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;

    h2 {
      font: var(--big-bold-font);
      color: $secondary-color-1;
    }

    p {
      font: var(--main-font);
      color: $secondary-color-1;
    }
  }

  .benefit-card__icon {
    flex: 0 1 0;
  }
}

.benefit-card--white-bg {
  background-color: $white-color;
}
.benefit-card--transparent-bg {
  background-color: transparent;
}

.benefit-card--bg-color-2-hover {
  &:hover {
    background-color: $bg-color-2;
  }
}
