.button {
  text-align: center;
  border-radius: 10px;
  white-space: nowrap;

  &--priamry-color-filled {
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--primary-color);
    &:hover {
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      background-color: var(--secondary-color-1);
      color: var(--primary-color);
    }
  }

  &--secondary-color-1-opac {
    border: 1px solid var(--secondary-color-1);
    border-radius: 10px;
    color: var(--secondary-color-1);
    background-color: transparent;
    &:hover {
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      background-color: var(--secondary-color-1);
      color: var(--primary-color);
    }
  }

  &--medium {
    max-width: 185px;
    padding: 1rem 1.5rem !important;
  }

  &--bold-font {
    font: var(--bold-font);
  }

  &--has-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--space-xs);
    max-height: 45px;
  }
}
