@use "../mixins" as *;
@use "../abstracts/variables" as *;
@use "../bootstrap" as *;

.button {
  text-align: center;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    @include button-hover();
  }

  &:focus {
    @include button-focus($background-color: $secondary-color-1);
  }

  &--priamry-color-filled {
    border: 2px $primary solid;
    border-radius: 10px;
    color: $white-color;
    background-color: $primary-color;
  }

  &--secondary-color-1-opac {
    border: 2px solid $secondary-color-1;
    border-radius: 10px;
    color: $secondary-color-1;
    background-color: transparent;
  }

  &--medium {
    min-height: clamp($space-md, 8vw, 5.2rem) !important;
    padding: clamp($space-xs, 2vw, $space-sm) clamp($space-sm, 4vw, $space-md) !important;
  }

  &--bold-font {
    font: var(--bold-font);
  }

  &--has-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: $space-xs;
    max-height: 45px;
  }
}
