@use "../abstracts/variables" as *;

.fa-store {
  font-size: 18px;
}

.fa-door-closed {
  font-size: 18px;
  padding: 0 0.5rem;
}

.fa-space-awesome {
  font-size: 18px;
}

.fa-check {
  font-size: var(--font-size-md);
  padding-inline: $space-xs;
}

.fa-square-check {
  font-size: var(--font-size-xl);
  padding-inline: $space-xs;
}
