.fa-store {
  font-size: 18px;
}

.fa-door-closed {
  font-size: 18px;
  padding: 0 0.5rem;
}

.fa-space-awesome {
  font-size: 18px;
}

.fa-check-to-slot {
  font-size: 20px;
  padding: 0 1rem;
}

.fa-check {
  font-size: 15px;
  padding-inline: var(--space-xs);
}
