.nav-pills {
  background-color: $bg-color-2;
  width: max-content;
  border-radius: 6px;
  padding: 0.35rem;
  margin: auto;

  .nav-item {
    font: var(--small-font);
    button {
      span {
        margin-inline: 1rem;
        background-color: $secondary-color-1;
        border-radius: 5px;
        padding: 0.25rem $space-md;
        color: $white-color;
        font: var(--small-light-font);
      }
    }
  }

  .nav-item .active {
    font: var(--small-bold-font);
  }
}
