.subscription-plan-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 18px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 385px;
  gap: $space-md;
  padding: $space-x2s;

  .subscription-plan__header {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 18px;
    padding: $space-md;

    .subscription-plan__title {
      font: var(--big-bold-font);
    }
    .subscription-plan__sub-title {
      font: var(--small-light-font);
    }
  }

  .subscription-plan-card__description {
    padding: $space-md;
    display: flex;
    flex-flow: column nowrap;
    gap: $space-sm;

    .subscription-plan-card__price {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: $space-xs;

      .subscription-plan-card__amount {
        font: var(--hero-font);
      }
      .subscription-plan-card__amount-details {
        display: flex;
        flex-flow: column;
        .subscription-plan-card__period {
          font: var(--x-small-light-font);
        }
        .subscription-plan-card__currency {
          font: var(--small-font);
        }
      }
    }
    .subscription-plan-card__button {
      button {
        font: var(--small-font);
        padding: $space-x2s $space-md;
        &:hover {
          @include button-hover();
        }
        &:focus {
          @include button-focus($background-color: $secondary-color-1);
        }
      }
    }
    .subscription-plan-card__benefits {
      font: var(--small-light-font);
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
    }
  }
}

.subscription-plan-card--white-color {
  .subscription-plan__header {
    background: linear-gradient(to bottom, $bg-color-2, $bg-color-4);

    .subscription-plan__title {
      color: $secondary-color-1;
    }
    .subscription-plan__sub-title {
      color: $secondary-color-3;
    }
  }
  .subscription-plan-card__description {
    .subscription-plan-card__price {
      .subscription-plan-card__amount {
        color: $secondary-color-1;
      }
      .subscription-plan-card__amount-details {
        .subscription-plan-card__period {
          color: $secondary-color-3;
        }
        .subscription-plan-card__currency {
          color: $secondary-color-1;
        }
      }
    }
    .subscription-plan-card__button {
      button {
        width: 100%;
        background-color: transparent;
        color: $secondary-color-1;
        border: 2px solid $secondary-color-1;
        border-radius: 6px;
      }
    }
    .subscription-plan-card__benefits {
      .subscription-plan-card__benefit {
        color: $secondary-color-1;
        span {
          color: $primary-color;
        }
      }
    }
  }
}

.subscription-plan-card--secondary-color-3 {
  background: $secondary-color-1;
  .subscription-plan__header {
    background: linear-gradient(
      to bottom,
      $secondary-color-3,
      $secondary-color-1
    );

    .subscription-plan__title {
      color: $white-color;
    }
    .subscription-plan__sub-title {
      color: $white-color;
    }
  }
  .subscription-plan-card__description {
    .subscription-plan-card__price {
      .subscription-plan-card__amount {
        color: $white-color;
      }
      .subscription-plan-card__amount-details {
        .subscription-plan-card__period {
          color: $secondary-color-3;
        }
        .subscription-plan-card__currency {
          color: $white-color;
        }
      }
    }
    .subscription-plan-card__button {
      button {
        width: 100%;
        background-color: $secondary-color-3;
        color: $white-color;
        border: 2px $secondary-color-3 solid;
        border-radius: 6px;
      }
    }
    .subscription-plan-card__benefits {
      .subscription-plan-card__benefit {
        color: $white-color;
        span {
          color: $secondary-color-3;
        }
      }
    }
  }
}

.subscription-plan-card--tall {
  min-height: 570px;
  max-height: 590px;
  height: auto;
}
