.accordion {
  .accordion-header {
    font: var(--small-bold-font);
    color: var(--secondary-color-2);
    .accordion-button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .fa-circle-minus {
        display: none;
      }

      //   This will remove the styling of bootstrap entirly
      &::after {
        display: none;
      }

      &:not(.collapsed) {
        .fa-circle-plus {
          display: none;
        }
        .fa-circle-minus {
          display: inline;
        }
      }
    }
  }
  .accordion-body {
    // border: none;
    font: var(--x-small-light-font);
    color: var(--secondary-color-4);
  }
}
