.accordion {
  border-radius: 10px;
  .accordion-item {
    border-radius: 10px;
  }
  .accordion-header {
    font: var(--small-bold-font);
    color: var(--secondary-color-2);
    .accordion-button {
      border-radius: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      &::after {
        display: none;
      }

      .fa-circle-minus {
        display: none;
      }

      &:not(.collapsed) {
        .fa-circle-plus {
          display: none;
        }
        .fa-circle-minus {
          display: inline-block;
        }
      }
    }
  }
  .accordion-body {
    font: var(--x-small-light-font);
    color: var(--secondary-color-4);
  }
}
