.benefit-card {
  display: flex;
  flex-flow: row nowrap;
  padding: var(--space-md);
  border: none;
  border-radius: 15px;
  background-color: var(--white-color);
  gap: var(--space-md);
  width: 100%;
  max-width: 450px;

  justify-content: center;
  align-items: center;

  .benefit-card__text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;

    h2 {
      font: var(--big-bold-font);
      color: var(--secondary-color-2);
    }

    p {
      font: var(--main-font);
      color: var(--secondary-color-2);
    }
  }

  .benefit-card__icon {
    flex: 0 1 0;
  }
}
