.button {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  white-space: nowrap;
}

.button--priamry-color-filled {
  border: none;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.button--secondary-color-2-opac {
  border: 2px solid var(--secondary-color-2);
  border-radius: 10px;
  color: var(--secondary-color-2);
  background-color: transparent;
}

.button--medium {
  min-width: 165px;
  max-width: 185px;
  padding: 1rem 1.5rem !important;
}

.button--bold-font {
  font: var(--bold-font);
}
