.fa-store {
  color: var(--white-color);
  font-size: 18px;
  padding-left: 0.25;
}

.fa-door-closed {
  color: var(--secondary-color-2);
  font-size: 18px;
  padding: 0 0.5rem;
}

.fa-space-awesome {
  color: var(--secondary-color-2);
  font-size: 18px;
  padding: 0 1rem;
}

.fa-check-to-slot {
  color: var(--secondary-color-2);
  font-size: 20px;
  padding: 0 1rem;
}
