.fa-store {
  color: var(--white-color);
  font-size: 18px;
  padding: 0 0.5rem;
}

.fa-door-closed {
  color: var(--secondary-color-2);
  font-size: 18px;
  padding: 0 0.5rem;
}

.fa-space-awesome {
  color: var(--secondary-color-2);
  font-size: 18px;
  padding: 0 0.5rem;
}
