.stats-card {
  padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-md);
  display: flex;
  flex-flow: row nowrap;
  border: none;
  border-radius: 15px;
  background-color: $white-color;
  gap: var(--space-md);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  justify-content: start;
  align-items: center;
  min-height: 130px;

  .stats-card__description {
    font: var(--main-font);
    max-width: var(--max-p-ch-sm);
    flex-grow: 1;
  }
  .stats-card__value {
    font: var(--hero-font);
    position: relative;
    .stats-card__value__percentage-symbol {
      font: var(--big-bold-font-x2);
      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(100%, -20%);
    }
  }
}

.stats-card--white {
  .stats-card__description {
    color: $secondary-color-1;
  }
  .stats-card__value {
    color: $secondary-color-1;
  }
}

.stats-card--secondary-color-1 {
  background-color: $secondary-color-1;
  .stats-card__description {
    color: $white-color;
  }
  .stats-card__value {
    color: $secondary-color-2;
  }
}
