.subscription-plan-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 18px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: max-content;
  gap: var(--space-md);
  padding: var(--space-xxs);

  .subscription-plan__header {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 18px;
    padding: var(--space-md);

    .subscription-plan__title {
      font: var(--big-bold-font);
    }
    .subscription-plan__sub-title {
      font: var(--small-light-font);
    }
  }
  .subscription-plan-card__description {
    padding: var(--space-md);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-sm);

    .subscription-plan-card__price {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--space-xs);

      .subscription-plan-card__amount {
        font: var(--hero-font);
      }
      .subscription-plan-card__amount-details {
        display: flex;
        flex-flow: column;
        .subscription-plan-card__period {
          font: var(--x-small-light-font);
        }
        .subscription-plan-card__currency {
          font: var(--small-font);
        }
      }
    }
    .subscription-plan-card__button {
      button {
        font: var(--small-font);
        padding: var(--space-xxs) var(--space-md);
      }
    }
    .subscription-plan-card__benefits {
      font: var(--small-light-font);
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      .subscription-plan-card__benefit {
      }
    }
  }
}

.subscription-plan-card--white-color {
  .subscription-plan__header {
    background: linear-gradient(
      to bottom,
      var(--bg-color-2),
      var(--bg-color-4)
    );

    .subscription-plan__title {
      color: var(--secondary-color-2);
    }
    .subscription-plan__sub-title {
      color: var(--secondary-color-4);
    }
  }
  .subscription-plan-card__description {
    .subscription-plan-card__price {
      .subscription-plan-card__amount {
        color: var(--secondary-color-2);
      }
      .subscription-plan-card__amount-details {
        .subscription-plan-card__period {
          color: var(--secondary-color-4);
        }
        .subscription-plan-card__currency {
          color: var(--secondary-color-2);
        }
      }
    }
    .subscription-plan-card__button {
      button {
        width: 100%;
        background-color: transparent;
        color: var(--secondary-color-2);
        border: 2px solid var(--secondary-color-2);
        border-radius: 6px;
      }
    }
    .subscription-plan-card__benefits {
      .subscription-plan-card__benefit {
        color: var(--secondary-color-2);
        span {
          color: var(--primary-color);
        }
      }
    }
  }
}

.subscription-plan-card--secondary-color-4 {
  background: var(--secondary-color-2);
  .subscription-plan__header {
    background: linear-gradient(
      to bottom,
      var(--secondary-color-4),
      var(--secondary-color-2)
    );

    .subscription-plan__title {
      color: var(--white-color);
    }
    .subscription-plan__sub-title {
      color: var(--white-color);
    }
  }
  .subscription-plan-card__description {
    .subscription-plan-card__price {
      .subscription-plan-card__amount {
        color: var(--white-color);
      }
      .subscription-plan-card__amount-details {
        .subscription-plan-card__period {
          color: var(--secondary-color-4);
        }
        .subscription-plan-card__currency {
          color: var(--white-color);
        }
      }
    }
    .subscription-plan-card__button {
      button {
        width: 100%;
        background-color: var(--secondary-color-4);
        color: var(--white-color);
        border: none;
        border-radius: 6px;
      }
    }
    .subscription-plan-card__benefits {
      .subscription-plan-card__benefit {
        color: var(--white-color);
        span {
          color: var(--secondary-color-4);
        }
      }
    }
  }
}

.subscription-plan-card--small {
  height: clamp(450px, 50vh, 500px);
  width: clamp(330px, 30vw, 350px);
  aspect-ratio: 3 / 4;
}

.subscription-plan-card--big {
  height: clamp(490px, 65vh, 520px);
  width: clamp(310px, 25vw, 330px);
  aspect-ratio: 3 / 4;
}
