.tag {
  white-space: nowrap;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .tag__dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: $white-color;
    z-index: 9999;
  }

  .tag__dot--top-right {
    top: 6%;
    right: 6%;
  }
  .tag__dot--bottom-right {
    bottom: 6%;
    right: 6%;
  }
  .tag__dot--top-left {
    top: 6%;
    left: 6%;
  }
  .tag__dot--bottom-left {
    bottom: 6%;
    left: 6%;
  }
}

.tag--gradient-priamry-color {
  background: linear-gradient(to right, $primary-color, $secondary-color-2);
}

.tag--secondary-color-1 {
  background-color: $secondary-color-1;
}

.tag__text--white-font {
  color: $white-color;
}
.tag__text--text-shadow {
  text-shadow: 0px 3px 6px #00000029;
}

.tag--medium {
  min-height: 50px;
  width: clamp(150px, 60%, 180px);
  padding: var(--space-xs);
}

.tag--small {
  // min-height: 35px;
  width: clamp(70px, 50%, 85px);
  // padding: var(--space-xs) var(--space-md);
}
