main .benefits-section {
  .benefits-section__benefits-cards {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    gap: 1rem;
    justify-content: center;
    justify-items: center;
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 660px) {
  main .benefits-section {
    .benefits-section__benefits-cards {
      // grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      justify-items: stretch;
    }
  }
}
