.bolesa-integration-section {
  .bolesa-integration-section__container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: $space-lg;

    .bolesa-integration-section__header {
      padding-bottom: $space-lg;
    }

    .bolesa-integration-section__benefits {
      padding: $space-xs;
      border-radius: 15px;
      max-width: 500px;
      background-color: $white-color;
      display: grid;
      grid-template-columns: minmax(250px, 500px);
      justify-content: stretch;
    }
  }

  .bolesa-integration-section__text {
    // padding: $space-md $space-md;
    // flex: 1 1 0;
    flex: 50%;

    // flex: 1 1 100px;
  }

  .bolesa-integration-section__integration-phone-img {
    // flex: 1 1 100px;
    // flex: 100%;
    flex: 50%;
    // align-self: flex-end;
    // flex: 1 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 480px;

      // height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 660px) {
  .bolesa-integration-section {
    .bolesa-integration-section__container {
      .bolesa-integration-section__text {
        padding: $space-xl $space-md;
      }
      flex-wrap: nowrap;
      gap: $space-md;
    }
    .bolesa-integration-section__integration-phone-img {
      align-self: center;
    }
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 992px) {
  .bolesa-integration-section {
    .bolesa-integration-section__container {
      flex-wrap: wrap;
      gap: 0;
      .bolesa-integration-section__integration-phone-img {
        align-self: end;
      }
    }
  }
}
