.carriers-section {
  .carriers-section__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: $space-x2l;
  }
  .carriers-section__carriers-brands {
    background-color: $bg-color-2;
    border: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 4rem;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    align-content: baseline;
    padding: $space-x2l;

    img {
      max-width: 75px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
