.carriers-section {
  padding: var(--section-spacing);
  .carriers-section__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: var(--space-lg);
  }
  .carriers-section__carriers-brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    align-content: baseline;
    padding: 2rem;

    img {
      max-width: 60px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
