.demos-slider-section {
  overflow: hidden;
  padding: var(--section-spacing);
  .demos-slider-section__container {
    min-height: 600px;
    padding-top: var(--space-lg);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    // position: relative;
    .demos-slider-seciton__swiper-container {
      width: 60%;
      margin-inline: auto;
      display: inline-flex;
      justify-content: center;
      align-items: end;
      flex-flow: row;

      //   border: 10px red solid;
      //   padding-inline: 5rem;
      //   margin-right: 2rem;
      //   margin-left: 2rem;
    }

    .demos-slider-section__text {
      padding: var(--space-lg);
    }

    .demos-slider-section__swiper {
      z-index: 9998;
      position: relative;
    }
  }
}

.demos-slider-section__action-button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 9999;
  transform: translate(-50%, 0);
}

.gradient-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 9999;
}
