.demos-slider-section {
  overflow: hidden;
  padding: var(--section-spacing);
  .demos-slider-section__container {
    min-height: 600px;
    padding-top: var(--space-lg);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .demos-slider-section__text {
      padding: var(--space-lg);
    }

    .demos-slider-section__swiper {
    }
  }
}
