.stats-section {
  padding: var(--section-spacing);
  .stats-section__section-container {
    padding: var(--space-lg) 0;
    .stats-section__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      align-items: center;
      gap: var(--flex-gap);
      padding: var(--space-md) 0;
    }
  }
}
