.stats-section {
  .stats-section__section-container {
    padding: $space-x2l 0;
    .stats-section__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      align-items: center;
      gap: $space-xs;
      padding: $space-md 0;
    }
  }
  .stats-section__cards {
    padding: $space-md;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 330px;
    overflow-x: scroll;
    gap: $space-xs;
    // justify-content: center;
  }
}

@media (min-width: 660px) {
  .stats-section {
    .stats-section__cards {
      grid-auto-columns: minmax(390px, 410px);
    }
  }
}
