.navbar {
  width: 93vw;
  margin: auto;
  background: transparent !important;
  border-radius: 10px;
  padding: 1rem;
  z-index: 9999;
  transition: top 0.3s ease-in-out;
  white-space: nowrap;

  &.scrolled {
    background: $white-color !important;
  }

  .nav-tab {
    font: var(--main-font);
  }

  .navbar-brand img {
    width: clamp(65px, 8vw, 90px);
    height: clamp(65px, 8vw, 90px);
  }

  .navbar-nav {
    display: flex;
    align-items: start;
  }

  .offcanvas-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .btn-close {
      margin: 0;
      font-size: 1.6rem;
    }
    .offcanvas-title {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 992px) {
  .navbar-nav {
    justify-content: end;
    align-items: baseline;
    width: 100%;
  }
  // .nav-tab {
  //   font: var(--main-font);
  // }
}

/* For screens 1200px */
@media (min-width: 1200px) {
  .nav-item.login-button {
    border-right: 1.5px lighten($secondary-color-3, 40%) solid;
  }
  .nav-tab {
    font: var(--main-font);
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 992px) {
  .navbar-nav {
    justify-content: end;
    align-items: baseline;
    width: 100%;
  }
  .nav-tab {
    font: var(--main-font);
  }
}

.navbar-toggler {
  border: none;
}

.action-tab {
  font: var(--bold-font);
  color: $secondary-color-1;
}
