.section-title--font {
  font: var(--section-title-font);
}

.text--secondary-color-2 {
  color: var(--secondary-color-2);
}

.text--secondary-color-4 {
  color: var(--secondary-color-4);
}

.section-description {
  font: var(--main-font);
  color: var(--secondary-color-2);
}

.text--long-lenght-lines {
  max-width: var(--max-p-ch-xl);
}

.text--medium-lenght-lines {
  max-width: var(--max-p-ch-md);
}

.text--short-lenght-lines {
  max-width: var(--max-p-ch-sm);
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.section-container {
  margin: auto;
  width: 100%;
  max-width: var(--max-section-width);
}

.section-container--card {
  background-color: var(--bg-color-2);
  border: none;
  border-radius: 20px;
}

.section-container--x-padding {
  padding-right: var(--container-x-padding);
  padding-left: var(--container-x-padding);
}

.section-container--y-padding {
  padding-top: var(--container-y-padding);
  padding-bottom: var(--container-y-padding);
}

.section-sub-title--font {
  font: var(--big-bold-font);
}

.text--small-light-font {
  font: var(--small-light-font);
}

.text--big-bold-font {
  font: var(--big-bold-font);
}
