.navbar {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
  background: var(--bg-color-1) !important;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem;

  .navbar-brand img {
    width: 63px;
    height: 63px;
  }

  .navbar-nav {
    display: flex;
    gap: 5rem;
  }

  .offcanvas {
    background: var(--bg-color-1) !important;
  }

  .offcanvas-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    .btn-close {
      margin: 0;
    }
  }
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 992px) {
  .nav-tab {
    font: var(--big-font);
  }
}

/* For screens 992px and larger (desktops) */
@media (min-width: 992px) {
  .navbar-nav {
    justify-content: end;
    align-items: baseline;
    width: 100%;
  }
  .nav-tab {
    font: var(--main-font);
  }
}

.navbar-toggler {
  border: none;
}

.action-tab {
  font: var(--bold-font);
  color: var(--secondary-color-2);
}
