// This will make
html {
  font-size: 62.5%;
  direction: rtl;
}

html {
  margin: 0;
  padding: 0;
  // background: url("./../../../assets/hero-bg-pattern.png");
  // background-repeat: repeat;
  background: var(--white-color);

  body {
    margin: auto;
    padding: 0;
    background: linear-gradient(to bottom, var(--bg-color-1), #ffffff);
  }
}
