:root {
  /* Color Variables */
  --primary-color: #d89255;
  --secondary-color-1: #3d2f21;
  --secondary-color-2: #df8b42;
  --secondary-color-3: #6c6660;
  --white-color: #ffff;
  --bg-color-1: #ebdfcc;
  // light gray x1
  --bg-color-2: #f9f9f9;
  --bg-color-3: #edf5f0;
  // light gray x2
  --bg-color-4: #fcfcfc;

  /* Font Variables */

  --font-family-base: "Vazirmatn", sans-serif;

  /* font-style font-weight font-size font-family */
  --hero-font: normal bold 50px var(--font-family-base);
  --section-title-font: normal bold 32px var(--font-family-base);
  --bold-font: normal bold 16px var(--font-family-base);

  --main-font: normal normal 16px var(--font-family-base);
  --small-bold-font: normal bold 12px var(--font-family-base);
  --x-small-light-font: normal 200 10px var(--font-family-base);
  --small-light-font: normal 200 12px var(--font-family-base);
  --small-font: normal normal 12px var(--font-family-base);
  --big-font: normal normal 19px var(--font-family-base);
  --big-bold-font: normal bold 19px var(--font-family-base);
  --big-bold-font-x2: normal bold 24px var(--font-family-base);

  /* Spacing Variables */
  /* Base spacing unit */
  --space-unit: 2rem;

  /* Spacing scale */
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));
  --space-xxl: calc(5 * var(--space-unit));

  // some character spacing variables
  --max-p-ch-sm: 26ch;
  --max-p-ch-md: 45ch;
  --max-p-ch-xl: 52ch;

  --max-section-width: 1350px;

  /* Compound spacing variables */
  --container-x-padding: var(--space-lg);
  --container-y-padding: var(--space-lg);
  --section-spacing: var(--space-xl) var(--space-sm);
  --grid-gap: var(--space-xs);
  --flex-gap: var(--space-xs);
}

$primary: var(--primary-color);
$secondary: var(secondary-color-1);

// Create your own map
$custom-theme-colors: (
  "secondary-color-2": #df8b42,
  "secondary-color-3": #6c6660,
  "white-color": #ffff,
  "secondary-color-2": #df8b42,
  "bg-color-1": #ebdfcc,
  "bg-color-2": #f9f9f9,
  "bg-color-3": #edf5f0,
  "bg-color-4": #fcfcfc,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
